---
permalink: photos/feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
	<title>{{ metadata.photoFeed.title }}</title>
	<subtitle>{{ metadata.photoFeed.subtitle }}</subtitle>
	<link href="{{ metadata.photoFeed.url }}" rel="self"/>
	<link href="{{ metadata.url }}"/>
	<updated>{{ collections.photos | rssLastUpdatedDate }}</updated>
	<id>{{ metadata.photoFeed.id }}</id>
	<author>
		<name>{{ metadata.author.name }}</name>
		<email>{{ metadata.author.email }}</email>
	</author>
	{%- for post in collections.photos %}
	{% set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset %}
	<entry>
		<title>{{ post.data.title }}</title>
		<link href="{{ absolutePostUrl }}"/>
		<updated>{{ post.date | rssDate }}</updated>
		<id>{{ absolutePostUrl }}</id>
		<content type="html">
			<img class="photo-frame__image" src="{{ post.imageSource | imgixPhotoSingle }}" alt="{{ post.imageAlt }}" />
			{% if content %}
			<figcaption class="photo-single__item-caption">{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</figcaption>
			{% else %}
			<figcaption class="photo-single__item-caption">{{ title }}</figcaption>
			{% endif %}
		</content>
	</entry>
	{%- endfor %}
</feed>
