/* ------------------------------------------------------------------
||  Base
------------------------------------------------------------------- */
body {
  background-color: var(--background-color);
}

.wrapper {
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacer-2;
  padding-left: $spacer-2;
  max-width: 1312px;

  @media (min-width: 960px) {
    padding-right: $spacer-2;
    padding-left: $spacer-2;
  }
}

.video {
  position: relative;
  margin: 0 0 $spacer-5;
  padding-bottom: 56.25%;
  height: 0;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

figure {
  margin: 0 0 $spacer-5;

  figcaption {
    font-size: $type-scale-5;
    line-height: $leading-tight;
  }
}
