.wrapper {
  margin: 0 auto;
  max-width: $layout-wrapper-small;
}

.video {
  position: relative;
  margin: 0 0 $spacer-5;
  padding-bottom: 56.25%;
  height: 0;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

figure {
  margin: 0;
  margin: 0 0 $spacer-5;

  figcaption {
    font-size: $type-scale-5;
    line-height: 1.25;
  }
}
