/* ------------------------------------------------------------------
||  Typography
------------------------------------------------------------------- */
:root {
  font-size: $type-scale-6;
}

body {
  margin: 0;
  font-size: $type-scale-5;
  font-family: $font-family-body;
  font-feature-settings: $font-settings-body;
  line-height: $leading-normal;
  color: var(--text-secondary-color);
}

p,
ul,
ol {
  margin: 0 0 $spacer-3;
}

a {
  color: var(--text-action-color);
  text-underline-offset: 6px;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: 2px;

  &:hover {
    color: var(--text-action-hover-color);
    text-decoration-color: var(--text-action-hover-color);
  }
}

blockquote {
  position: relative;
  margin: 0;
  padding: 0 $spacer-5;

  p {
    font-size: $type-scale-5;
    font-style: italic;
    color: var(--text-secondary-color);
    z-index: 10;
  }

  &::before {
    content: "“";
    position: absolute;
    display: block;
    top: -#{$spacer-5};
    left: $spacer-3;
    z-index: 0;
    font-size: $type-scale-1 * 3;
    line-height: $leading-none;
    opacity: 0.16;
  }
}

img {
  max-width: 100%;
  height: auto;
}

code,
kbd,
samp {
  padding: #{$spacer-1 / 2} $spacer-1;
  font-size: $type-scale-6;
  font-weight: bold;
  color: var(--text-primary-color);
  background-color: #{$black-10};
  border-radius: $border-radius-default;

  @media (prefers-color-scheme: dark) {
    background-color: #{$white-10};
  }
}

/* ------------------------------------------------------------------
||  Headlines
------------------------------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: $font-family-headline;
  font-feature-settings: $font-settings-headline;
  line-height: 1.25;
  color: var(--text-primary-color);
}

h1 {
  font-size: $type-scale-1;
}

h2 {
  font-size: $type-scale-3;
}

h3 {
  margin: 0 0 $spacer-5;
  font-size: $type-scale-4;
}

h4 {
  margin: 0 0 $spacer-3;
  font-size: $type-scale-6;
  font-family: $font-family-body;
}

.title-1 {
  font-size: 40px;
  line-height: $leading-tight;

  @media (min-width: 960px) {
    font-size: 56px;
  }
}

.title-2 {
  font-size: 28px;
  line-height: $leading-tight;

  @media (min-width: 960px) {
    font-size: 40px;
  }
}

.title-3 {
  font-size: 24px;
  line-height: 32px;
}
