/* ------------------------------------------------------------------
||  Typography
------------------------------------------------------------------- */
:root {
  font-size: $type-scale-6;
}

body {
  margin: 0;
  font-size: $type-scale-5;
  font-family: $font-family-body;
  font-feature-settings: $font-settings-body;
  line-height: $leading-normal;
  color: $text-color;
}

p,
ul,
ol {
  margin: 0 0 $spacer-5;
}

a {
  color: $text-link-color;
  text-underline-offset: 6px;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: 2px;
  text-decoration-color: $text-link-color;

  &:hover {
    color: $brand-color;
    text-decoration-color: $brand-color;
  }
}

blockquote {
  position: relative;
  margin: 0;
  padding: 0 $spacer-5;

  p {
    font-size: $type-scale-5;
    font-style: italic;
    color: $text-caption-color;
    z-index: 10;
  }

  &::before {
    content: "“";
    position: absolute;
    display: block;
    top: -#{$spacer-5};
    left: $spacer-3;
    z-index: 0;
    font-size: $type-scale-1 * 3;
    line-height: 1;
    opacity: 0.08;
  }
}

img {
  max-width: 100%;
  height: auto;
}

code,
kbd,
samp {
  padding: $spacer-1 $spacer-2;
  font-size: $type-scale-6;
  font-weight: bold;
  background: $brand-color-cloud;
  border-radius: 4px;
  color: $brand-color;
}

/* ------------------------------------------------------------------
||  Headlines
------------------------------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 $spacer-5;
  font-family: $font-family-headline;
  font-feature-settings: $font-settings-headline;
  line-height: 1.25;
  color: $text-headline-color;
}

h1 {
  font-size: $type-scale-1;
}

h2 {
  font-size: $type-scale-3;
}

h3 {
  margin: 0 0 $spacer-5;
  font-size: $type-scale-4;
}

h4 {
  margin: 0 0 $spacer-3;
  font-size: $type-scale-6;
  font-family: $font-family-body;
  font-feature-settings: $font-settings-body;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
