---
layout: layouts/home.njk
---

<header class="site-header">
  <h1 class="site-title">Jan Früchtl</h1>
  <p class="site-slogan">Product designer at <a href="https://bryter.io">BRYTER</a>. I’m documenting my process in redefining my personal site.</p>
</header>

{% set postslist = collections.posts | reverse %}
{% include "postslist.njk" %}
