---
layout: layouts/home.njk
metatitle: Home
bodyClass: cs-homepage
---

<main>
  <section class="intro">
    <div class="wrapper">
      <h2 class="title-1">Hey, I’m Jan!</h2>
      <h3 class="title-2 intro__slogan">I’m a product designer, focused on design systems, who codes and podcasts based in Frankfurt am Main, Germany.</h3>
    </div>
  </section>
  {% include "components/homepage/journal-preview.njk" %}
  {% include "components/homepage/dribbble-preview.njk" %}
</main>
