---
layout: layouts/home.njk
metatitle: Journal
bodyClass: cs-journal
pagination:
  data: collections.posts
  size: 10
  reverse: true
  alias: posts
---

<main class="grid grid--basic">
  <section class="grid__content-element">
    {% include "components/posts.njk" %}
    {% include "components/journal-pagination.njk" %}
  </section>
</main>
