---
layout: layouts/base.njk
metatitle: Likes
---

<main class="grid grid--basic">
  <aside class="grid__trailing-element">
    <h2>Likes</h2>
  </aside>
  <section class="grid__content-element">
    <ul class="likes-list">
    {% for like in likes %}
      <li class="likes__item">
        <h3 class="likes__title"><a href="{{ like.href }}">{{ like.description }}</a></h3>
        <span class="likes__date">{{ like.href | simpleURL }}</span>
      </li>
    {% endfor %}
    </ul>
  </section>
</main>
