---
layout: layouts/base.njk
---

<header class="c-site-header c-site-header--photos">
  <h1 class="site-title">Photostream</h1>
  <p class="site-slogan">This is my personal stream of photos.</p>
</header>

{% set photos = collections.photos | reverse %}
{% include "components/photos.njk" %}
