---
layout: layouts/base.njk
metatitle: Podcasts
---

<main class="grid grid--basic">
  <aside class="grid__trailing-element">
    <h2>Podcasts</h2>
  </aside>
  <section class="grid__content-element--full">
    <ul class="podcast-list">
    {% for podcast in podcasts %}
      <li class="podcast-item">
        <div class="podcast-item__cover">
          <img src="{{ podcast.image | podcastCover }}" alt="">
        </div>
        <div class="podcast-item__content">
          <h2 class="podcast-item__title">{{podcast.title}}</h2>
          <div class="podcast-item__meta">
            <span class="podcast-list__meta-item">
              <a href="{{podcast.htmlUrl}}">Website</a>
            </span>
            <span class="podcast-item__meta-item"> • </span>
            <span class="podcast-item__meta-item">
              <a href="{{podcast.xmlUrl}}">Feed</a>
            </span>
          </div>
        </div>
      </li>
    {% endfor %}
    </ul>
  </section>
</main>
