/* ------------------------------------------------------------------
||  Variables
------------------------------------------------------------------- */
$brand-color: #0e2758;
$brand-color-light: #a7c0f1;
$brand-color-cloud: #dce6f9;

$text-headline-color: $brand-color;
$text-color: #4b4f58;
$text-caption-color: #6c7689;
$text-link-color: #122ba5;
