/* ------------------------------------------------------------------
||  Redesign notice
------------------------------------------------------------------- */
.c-redesign-notice {
  padding: $spacer-2 $spacer-5;
  font-size: $type-scale-7;
  text-align: center;
  background-color: lighten($brand-color, 72%);
}
