/* ------------------------------------------------------------------
||  Site Footer
------------------------------------------------------------------- */
.c-site-footer {
  margin: 0 auto;
  padding: $spacer-11 0;
  max-width: $layout-wrapper;
}

.c-site-footer--small {
  max-width: $layout-wrapper-small;
}

.c-site-footer__nav {
  display: inline-flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.c-site-footer__nav-item {
  margin-left: $spacer-4;
  font-size: $type-scale-7;
  @media (min-width: 960px) {
    font-size: $type-scale-6;
  }

  &:first-child {
    margin: 0;
  }

  a {
    color: $text-caption-color;
    text-decoration-color: $text-caption-color;

    &:hover {
      color: $brand-color;
      text-decoration-color: $brand-color;
    }
  }
}
