/* ------------------------------------------------------------------
||  SIte Header
------------------------------------------------------------------- */
.c-site-header {
  margin: 0 auto;
  padding: 0 0 $spacer-5;
  max-width: $layout-wrapper-small;
}

.site-title {
  margin: 0 0 $spacer-3;
  font-feature-settings: "sinf" on, "ss03" on, "ss04" on;
}

.site-slogan {
  max-width: $layout-wrapper-tiny;
  font-size: $type-scale-6;
}
