/* ------------------------------------------------------------------
||  Site Footer
------------------------------------------------------------------- */
.c-site-footer {
  padding-top: $spacer-5;
  padding-bottom: $spacer-4;

  @media (min-width: 960px) {
    grid-template-columns: 2fr 8fr 2fr;
    grid-template-areas: "left content right";
    padding: $spacer-7 0 $spacer-5;
  }
}

.c-site-footer__nav {
  margin: 0;
  margin-left: -8px;
  padding: 0;
  list-style: none;

  @media (min-width: 960px) {
    grid-area: content;
    display: inline-flex;
  }
}

.c-site-footer__nav-item {
  display: inline-block;
  padding: 0 $spacer-1;
  font-size: $type-scale-7;
  @media (min-width: 960px) {
    font-size: $type-scale-6;
  }

  a {
    color: var(--text-secondary-color);
    text-decoration-color: var(--text-secondary-color);

    &:hover {
      color: var(--text-primary-color);
      text-decoration-color: var(--text-primary-color);
    }
  }
}
