/* ------------------------------------------------------------------
||  Site Footer
------------------------------------------------------------------- */
.c-site-footer {
  padding-top: 48px;
  padding-bottom: 24px;

  @media (min-width: 960px) {
    grid-template-columns: 2fr 8fr 2fr;
    grid-template-areas: "left content right";
    padding-top: 96px;
    padding-bottom: 48px;
  }
}

.c-site-footer__nav {
  margin: 0;
  margin-left: -8px;
  padding: 0;
  list-style: none;

  @media (min-width: 960px) {
    grid-area: content;
    display: inline-flex;
  }
}

.c-site-footer__nav-item {
  display: inline-block;
  padding: 0 8px;
  font-size: $type-scale-7;
  @media (min-width: 960px) {
    font-size: $type-scale-6;
  }

  a {
    color: $text-caption-color;
    text-decoration-color: $text-caption-color;

    &:hover {
      color: $brand-color;
      text-decoration-color: $brand-color;
    }
  }
}
