/* ------------------------------------------------------------------
||  Header
------------------------------------------------------------------- */
.c-site-header {
  margin: 0 auto;
  padding: 0 0 24px;
  max-width: 64ch;
}

.site-title {
  margin: 0 0 12px;
  font-feature-settings: "sinf" on, "ss03" on, "ss04" on;
}

.site-slogan {
  max-width: 56ch;
  font-size: 0.8rem;
}
