/* ------------------------------------------------------------------
||  Tags
------------------------------------------------------------------- */
.c-tags {
  display: inline-flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.c-tag {
  margin-left: $spacer-2;
  font-size: $type-scale-6;

  &:first-child {
    margin: 0;
  }
}
