/* ------------------------------------------------------------------
||  Base
------------------------------------------------------------------- */
.grid {
  display: grid;
  grid-gap: 48px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 16px;
  padding-left: 16px;
  max-width: 1312px;
}

.grid--basic {
  grid-template-columns: 2fr 8fr 2fr;
  grid-template-areas: "leading main trailing";

  .grid__trailing-element {
    grid-area: leading;
  }

  .grid__content-element {
    grid-area: main;
  }

  .grid__content-element--full {
    grid-column: 2 / span 2;
  }
}
