/* ------------------------------------------------------------------
||  Journal Preview
------------------------------------------------------------------- */
.intro {
  margin: 0 0 $spacer-7;
}

.intro__slogan {
  color: var(--text-secondary-color);
}

.journal-preview,
.dribbble-preview {
  padding: $spacer-7 0;
  border-top: 1px dashed rgba(255, 255, 255, 0.12);
}

.journal-preview__list,
.dribbble-preview-list {
  display: grid;
  grid-gap: 48px;
}

.journal-preview__list {
  grid-template-columns: repeat(1, 1fr);
  @media (min-width: 640px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.dribbble-preview-list {
  grid-template-columns: repeat(1, 1fr);

  @media (min-width: 480px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 960px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.dribbble-preview-list__item {
  position: relative;

  &:hover,
  &:focus {
    .dribbble-preview-figure__image {
      filter: blur(4px) grayscale(50%) opacity(0.2);
      transform: scale(0.95);
    }

    .dribbble-preview-figure__caption {
      display: block;
    }
  }
}

.dribbble-preview-figure {
  margin: 0;
  padding: $spacer-1;
  border-radius: 6px;
  border: 1px dashed rgba(255, 255, 255, 0.12);
}

.dribbble-preview-figure__image {
  border-radius: 3px;
  transition: all 0.24s;
}

.dribbble-preview-figure__caption {
  position: absolute;
  display: none;
  left: $spacer-2;
  bottom: $spacer-2;
  color: var(--text-primary-color);
}
