/* ------------------------------------------------------------------
||  Journal
------------------------------------------------------------------- */
.journal-posts,
.post {
  margin: 0 auto;
  max-width: 64ch;
}

.post-header {
  margin: 0 0 32px;
}

.post-title {
  margin: 0 0 8px;
  font-size: 2rem;
}

.post-title__link {
  color: $text-link-color;
  text-underline-offset: 4px;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: 4px;
  text-decoration-color: $text-link-color;
}

time {
  display: block;
  font-size: 0.8rem;
  color: $text-caption-color;
}

.post-preview {
  margin: 0 0 32px;

  &:last-child {
    margin: 0;
  }
}

.post-content {
  margin: 0 0 48px;
}
