/* ------------------------------------------------------------------
||  Journal
------------------------------------------------------------------- */
.journal-posts,
.post {
  margin: 0 auto;
  max-width: $layout-wrapper-small;
}

.post-header {
  margin: 0 0 $spacer-6;
}

.post-title {
  margin: 0 0 $spacer-2;
  font-size: $type-scale-1;
}

.post-title__link {
  color: $text-link-color;
  text-underline-offset: 4px;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: 4px;
  text-decoration-color: $text-link-color;
}

time {
  display: block;
  font-size: $type-scale-6;
  color: $text-caption-color;
}

.post-content {
  margin: 0 0 $spacer-8;
}

/* ------------------------------------------------------------------
||  Journal - Preview
------------------------------------------------------------------- */
.post-preview {
  margin: 0 0 $spacer-6;

  &:last-child {
    margin: 0;
  }

  .post-title {
    margin: 0 0 $spacer-2;
    font-size: $type-scale-2;
  }
}
