/* ------------------------------------------------------------------
||  Likes
------------------------------------------------------------------- */
.likes-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.likes__item {
  margin: 0 0 $spacer-5;
  padding: 0 0 $spacer-5;
  border-bottom: 1px solid lighten($text-caption-color, 40%);

  &:last-child {
    margin: 0;
  }
}

.likes__title {
  margin: 0 0 $spacer-1;

  a {
    text-decoration: none;
  }
}

.likes__date {
  font-size: $type-scale-6;
  line-height: $leading-5;
  color: $text-caption-color;
}
