/* ------------------------------------------------------------------
||  Photos
------------------------------------------------------------------- */
.photos {
  margin: 0 auto;
  max-width: $layout-wrapper;
}

.c-site-header--photos {
  max-width: $layout-wrapper;
}

.photo-list {
  display: grid;
  grid-gap: $spacer-4;
  grid-template-columns: repeat(1, 1fr);

  @media (min-width: 480px) {
    grid-gap: $spacer-2;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 960px) {
    grid-gap: $spacer-5;
    grid-template-columns: repeat(3, 1fr);
  }
}

.photo-list__link {
  position: relative;

  &:hover,
  &:focus {
    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.48);
      z-index: 1;
    }

    .photo-list__date {
      display: block;
    }
  }
}

.photo-list__date {
  position: absolute;
  display: none;
  left: $spacer-4;
  bottom: $spacer-4;
  font-size: $type-scale-6;
  line-height: 1.25;
  color: white;
  z-index: 10;
}

.photo {
  position: relative;
  margin: 0;

  img {
    display: block;
  }
}

.photo-close {
  position: absolute;
  display: block;
  top: $spacer-5;
  right: $spacer-5;
  width: $spacer-4;
  height: $spacer-4;
  z-index: 1;

  svg {
    display: block;
  }

  &:hover,
  &:focus {
    svg {
      opacity: 0.72;
    }
  }
}

.photo-frame {
  margin: 0;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000 center center no-repeat;
  color: #fff;
}

.photo-frame__image {
  position: relative;
  top: 5rem;
  width: 100vw;
  height: calc(100vh - 16rem);
  object-fit: contain;

  @media (min-width: 960px) {
    top: 3rem;
    height: calc(100vh - 8rem);
  }
}

.photo-single__item-caption {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: $spacer-5;
}
