/* ------------------------------------------------------------------
||  Podcasts
------------------------------------------------------------------- */
.podcast-list {
  grid-area: content;
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(auto-fill, minmax(192px, 1fr));
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: 960px) {
    grid-gap: 48px;
  }
}

.podcast-item__cover {
  margin: 0 0 $spacer-2;
}

.podcast-item__title {
  margin: 0 0 $spacer-1;
  font-size: $type-scale-6;
  line-height: 1.25;
  word-break: break-word;

  @media (min-width: 960px) {
    font-size: $type-scale-5;
  }
}

.podcast-item__meta {
  font-size: $type-scale-7;

  @media (min-width: 960px) {
    font-size: $type-scale-6;
  }

  a {
    color: $text-caption-color;
    text-decoration: none;

    &:hover {
      color: $brand-color;
      text-decoration: underline;
      text-underline-offset: 6px;
      text-decoration-skip-ink: auto;
      text-decoration-thickness: 2px;
      text-decoration-color: $brand-color;
    }
  }
}

.podcast-item__meta-item {
  display: inline-flex;
  align-items: center;
  margin-left: $spacer-1;
  line-height: $leading-tight;
}
