/* ------------------------------------------------------------------
||  Podcasts
------------------------------------------------------------------- */
.podcasts {
  margin: 0 auto;
  max-width: $layout-wrapper-small;
}

.podcast-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.podcast-item {
  margin: 0 0 $spacer-4;

  &:last-child {
    margin: 0;
  }
}

.podcast-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.podcast-item__cover {
  flex: 0 0 $spacer-10;
  width: $spacer-10;
  height: $spacer-10;

  @media (min-width: 960px) {
    flex: 0 0 $spacer-13;
    width: $spacer-13;
    height: $spacer-13;
  }
}

.podcast-item__content {
  position: relative;
  padding: 0 $spacer-4;

  @media (min-width: 960px) {
    padding: 0 $spacer-5;
  }
}

.podcast-item__title {
  margin: 0 0 $spacer-1;
  font-size: $type-scale-5;
  line-height: 1.25;
  word-break: break-word;

  @media (min-width: 960px) {
    font-size: $type-scale-4;
  }
}

.podcast-item__meta {
  font-size: $type-scale-6;

  a {
    color: $text-caption-color;
    text-decoration: none;

    &:hover {
      color: $brand-color;
      text-decoration: underline;
      text-underline-offset: 6px;
      text-decoration-skip-ink: auto;
      text-decoration-thickness: 2px;
      text-decoration-color: $brand-color;
    }
  }
}

.podcast-item__meta-item {
  display: inline-flex;
  align-items: center;
  margin-left: $spacer-1;
}
