<ul class="list list--link">
{% for post in posts %}
  <li class="list__item">
    <a class="list__item-link" href="{{ post.url | url }}">
      <h3 class="title-3 list__item__title">{{ post.data.title }}</h3>
      <time class="list__item__caption" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate}}</time>
    </a>
  </li>
{% endfor %}
</ul>
