<header class="site-header grid">
  <h1 class="site-title">
    <a class="site-title__link" href="{{ '/' | url }}">Jan Früchtl</a>
  </h1>
  <nav class="site-navigation">
    <ul class="site-navigation-list">
      <li class="site-navigation-item">
        <a class="site-navigation-item__link" href="{{ '/about' | url }}">About</a>
      </li>
      <li class="site-navigation-item">
        <a class="site-navigation-item__link" href="{{ '/likes' | url }}">Likes</a>
      </li>
      <li class="site-navigation-item site-navigation-item--hide-desktop">
        <a class="site-navigation-item__link" href="{{ '/elsewhere' | url }}">Elsewhere</a>
      </li>
    </ul>
  </nav>
  <div class="site-more-information">
    <a class="site-more-information__link" href="{{ '/elsewhere' | url }}">Elsewhere</a>
  </div>
</header>
