<footer class="c-site-footer grid">
  <ul class="c-site-footer__nav">
    <li class="c-site-footer__nav-item">
      <a href="{{ '/' | url }}">Journal</a>
    </li>
    <li class="c-site-footer__nav-item">
      <a href="https://photos.fruechtl.me">Photos</a>
    </li>
    <li class="c-site-footer__nav-item">
      <a href="{{ '/podcasts' | url }}">Podcasts</a>
    </li>
    <li class="c-site-footer__nav-item">
      <a href="{{ '/journal/feed.xml' | url }}">RSS Feed</a>
    </li>
    <li class="c-site-footer__nav-item">
      <a href="{{ '/impressum' | url }}">Impressum</a>
    </li>
  </ul>
</footer>

<script src="/node_modules/lite-youtube-embed/src/lite-yt-embed.js"></script>
