@font-face {
  font-family: "Value Serif Pro";
  src: url("/fonts/value-serif-bold-pro.woff2") format("woff2"),
    url("/fonts/value-serif-bold-pro.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Apercu Pro";
  src: url("/fonts/apercu-regular-pro.woff2") format("woff2"),
    url("/fonts/apercu-regular-pro.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
