.site-header {
  margin: 0 auto;
  padding: 0 0 72px;
  max-width: 72ch;
}

.site-title {
  margin: 0 0 8px;
  font-feature-settings: "sinf" on, "ss03" on, "ss04" on;
}

.site-slogan {
  max-width: 48ch;
  font-size: 0.8rem;
}
