@import "variables";

@import "font-face";
@import "typography";

@import "tags";

@import "site-header";
@import "journal";

@import "dark-mode";

body {
  margin: 0;
  color: $text-color;
}

main {
  padding: 48px 16px 0;

  @media (min-width: 960px) {
    padding: 72px 0 0;
  }
}

.wave-svg {
  padding: 0 0 24px;
  width: 100%;
  height: auto;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  margin: 0 auto;
  max-width: 64ch;
}
