---
layout: layouts/base.njk
---

<section class="biography">
  <div class="grid grid--basic">
    <div class="grid__content-element">
      <h2 class="title-1 f-mb3">{{ title }}</h2>
      {{ content | safe }}
    </div>
  </div>
</section>

<section class="about-section">
  <div class="grid grid--basic">
    <aside class="grid__trailing-element">
      <h3 class="title-3">Experience</h3>
    </aside>
    <div class="grid__content-element--full">
      <ul class="resume-list">
        <li class="resume-list__item">
          <div class="collapse">
            <div class="collapse__header">
              <div class="f-mr2">
                <h3 class="collapse__title title-3">BRYTER</h3>
                <span class="collapse__subtitle">July 2019 - Present • Remote</span>
              </div>
              <div class="collapse__icon">
                <svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2 12c0 .69.56 1.25 1.25 1.25h7.292c.115 0 .208.093.208.208v7.292a1.25 1.25 0 102.5 0v-7.292c0-.115.093-.208.208-.208h7.292a1.25 1.25 0 100-2.5h-7.292a.208.208 0 01-.208-.208V3.25a1.25 1.25 0 10-2.5 0v7.292a.208.208 0 01-.208.208H3.25C2.56 10.75 2 11.31 2 12z" fill="#fff" fill-opacity=".6"/></svg>
              </div>
            </div>
            <div class="collapse__content">
              <p>BRYTER is a no-code building platform to automate decision-making. With BRYTER experts can make their knowledge available to everyone.</p>
              <p>Since starting working at BRYTER, I focused on building and leading internal design system. Our design system, called Bliss, helps our cross-functional teams to develop features more consistently, efficiently and accessible. I tend to switch roles between Designer, Developer and Product Manager for Bliss to support where I can.</p>
              <p>Besides Bliss, I support different teams at BRYTER with explorations or designs for new features. I had the chance to help with different areas of the product like our admin console, our editor or various other pages.</p>
              <p>I&#39;ve contributed and implemented team methodologies like design critiques and improved design-development collaboration.</p>
            </div>
          </div>
        </li>
        <li class="resume-list__item">
          <div class="collapse">
            <div class="collapse__header">
              <div class="f-mr2">
                <h3 class="collapse__title title-3">Clark</h3>
                <span class="collapse__subtitle">April 2019 - July 2019 • Frankfurt am Main, Germany</span>
              </div>
              <div class="collapse__icon">
                <svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2 12c0 .69.56 1.25 1.25 1.25h7.292c.115 0 .208.093.208.208v7.292a1.25 1.25 0 102.5 0v-7.292c0-.115.093-.208.208-.208h7.292a1.25 1.25 0 100-2.5h-7.292a.208.208 0 01-.208-.208V3.25a1.25 1.25 0 10-2.5 0v7.292a.208.208 0 01-.208.208H3.25C2.56 10.75 2 11.31 2 12z" fill="#fff" fill-opacity=".6"/></svg>
              </div>
            </div>
            <div class="collapse__content">
              <p>At my brief time at Clark I supported the team with visual design work for the white-label product. Besides that, I contributed to plan and confirm the needed steps (from a design perspective) to move Clark into a stage to branch out to different countries like Austria.</p>
            </div>
          </div>
        </li>
        <li class="resume-list__item">
          <div class="collapse">
            <div class="collapse__header">
              <div class="f-mr2">
                <h3 class="collapse__title title-3">FastBill</h3>
                <span class="collapse__subtitle">April 2018 - April 2019 • Frankfurt am Main, Germany</span>
              </div>
              <div class="collapse__icon">
                <svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2 12c0 .69.56 1.25 1.25 1.25h7.292c.115 0 .208.093.208.208v7.292a1.25 1.25 0 102.5 0v-7.292c0-.115.093-.208.208-.208h7.292a1.25 1.25 0 100-2.5h-7.292a.208.208 0 01-.208-.208V3.25a1.25 1.25 0 10-2.5 0v7.292a.208.208 0 01-.208.208H3.25C2.56 10.75 2 11.31 2 12z" fill="#fff" fill-opacity=".6"/></svg>
              </div>
            </div>
            <div class="collapse__content">
              <p>FastBill is a German bookkeeping SaaS service with a huge competitor landscape. FastBill specialised on supporting small or independent business.</p>
              <p>As a solo designer I wore different hats and supported different initiatives and projects. One of my big projects was the concept and development of the new “advance VAT return” (USt-VA) feature. This feature helped our customers in executing a recurring tax tasks more quickly and safely.</p>
              <p>Other parts of my focus were on the onboarding experience. Additionally, I supported the reframing of the company vision with workshops, concepts and initial prototypes to confirm and test ideas.</p>
            </div>
          </div>
        </li>
        <li class="resume-list__item">
          <div class="collapse">
            <div class="collapse__header">
              <div class="f-mr2">
                <h3 class="collapse__title title-3">REICHHART digital logistics</h3>
                <span class="collapse__subtitle">August 2015 - July 2018 • Frankfurt am Main, Germany</span>
              </div>
              <div class="collapse__icon">
                <svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2 12c0 .69.56 1.25 1.25 1.25h7.292c.115 0 .208.093.208.208v7.292a1.25 1.25 0 102.5 0v-7.292c0-.115.093-.208.208-.208h7.292a1.25 1.25 0 100-2.5h-7.292a.208.208 0 01-.208-.208V3.25a1.25 1.25 0 10-2.5 0v7.292a.208.208 0 01-.208.208H3.25C2.56 10.75 2 11.31 2 12z" fill="#fff" fill-opacity=".6"/></svg>
              </div>
            </div>
            <div class="collapse__content">
              <p>I joined the team very early on as a Product Designer, working on their Web and Android applications.</p>
              <p>My role was broad in scope and I moved between research, concepts, high-fidelity prototypes and frontend code to support our web development team.</p>
              <p>After some month, I established and later led the development of the internal design system for both, Web and Android. The component library, which I used as a base to develop a CSS library, was the basis for the development team.</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="about-section">
  <div class="grid grid--basic">
    <aside class="grid__trailing-element">
      <h3 class="title-3">Colophon</h3>
    </aside>
    <div class="grid__content-element">
      <p>This website is powered by <a href="https://www.11ty.dev">Eleventy</a> and hosted on <a href="https://www.netlify.com">Netlify</a>. The type is set in <a href="https://www.colophon-foundry.org/typefaces/value-serif/">Value Serif Pro</a> and <a href="https://www.colophon-foundry.org/typefaces/apercu/">Apercu Pro</a> by <a href="https://www.colophon-foundry.org">Colophon Foundry</a>.</p>
    </div>
  </div>
</section>
