<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Blog - 2020.fruechtl.me</title>
  <meta name="description" content="{{ renderData.description or description or metadata.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <style>{% include "css/main.css" %}</style>
  <link rel="stylesheet" href="{{ '/css/prism.css' | url }}">
  <link rel="alternate" type="application/rss+xml" title="RSS Feed for 2020.fruechtl.me" href="{{ '/feed.xml' | url }}" />
</head>
<body>
  <main>{{ content | safe }}</main>

  <footer class="site-footer">
    <ul class="site-footer__nav">
      <li class="site-footer__nav-item">
        <a href="{{ '/' | url }}">Journal</a>
      </li>
      <li class="site-footer__nav-item">
        <a href="{{ '/feed.xml' | url }}">RSS Feed</a>
      </li>
      <li class="site-footer__nav-item">
        <a href="{{ '/impressum' | url }}">Impressum</a>
      </li>
    </ul>
  </footer>
</body>
</html>
