<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ renderData.metatitle or metatitle or metadata.title }} - Jan Früchtl</title>
  <meta name="description" content="{{ renderData.description or description or metadata.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@_coolcut" />
  <meta name="twitter:creator" content="@_coolcut" />

  {% if layout == "layouts/photo.njk" %}
  <meta property="og:title" content="{{title}}" />
  <meta property="og:description" content="{{ renderData.description or description or metadata.description }}" />
  <meta name="twitter:title" content="{{title}}">
  <meta name="twitter:description" content="{{ renderData.description or description or metadata.description }}">
  {% else %}
  <meta property="og:title" content="{{title}}" />
  <meta property="og:description" content="{{ renderData.description or description or metadata.description }}" />
  <meta name="twitter:title" content="{{title}}">
  <meta name="twitter:description" content="{{ renderData.description or description or metadata.description }}">
  {% endif %}

  {% if layout == "layouts/photo.njk" %}
  <meta property="og:image" content="{{ imageSource | imgixPhotoList }}" />
  <meta name="twitter:image:src" content="{{ imageSource | imgixPhotoList }}">
  {% else %}
  <meta property="og:image" content="{{ layout }}" />
  <meta name="twitter:image:src" content="{{ renderData.og_image or og_image or metadata.og_image }}">
  {% endif %}

  <style>{% include "css/main.css" %}</style>
  <link rel="stylesheet" href="{{ '/node_modules/lite-youtube-embed/src/lite-yt-embed.css' | url }}">
  <link rel="stylesheet" href="{{ '/css/prism.css' | url }}">
  <link rel="alternate" type="application/rss+xml" title="RSS Feed for 2020.fruechtl.me" href="{{ '/feed.xml' | url }}" />
</head>
<body>
  <div class="c-redesign-notice">This site currently gets redesigned in the open → <a href="/journal/hi-there/">Learn more</a></div>
  {{ content | safe }}
</body>
</html>
