---
layout: layouts/bones.njk
---

<div class="wrapper">
  <main>{{ content | safe }}</main>
</div>

{% import "components/site-footer.njk" as site %}
{{ site.footer('c-site-footer c-site-footer--small') }}
