---
layout: layouts/base.njk
---

<main class="grid grid--basic">
  <section class="grid__content-element">
    <div class="page-content">
      <h2 class="title-1 page-title">{{ title }}</h2>
      {{ content | safe }}
    </div>
  </section>
</main>

