<section class="photos">
  <div class="photo-list">
  {% for photo in photos %}
    <a id="{{ photo.data.image }}" class="photo-list__link" href="{{ photo.url | url }}">
      <figure class="photo">
        <img src="{{ photo.data.image | imgixPhotoList }}" alt="photo.data.description">
      </figure>
      <time class="photo-list__date" datetime="{{ photo.date | htmlDateString }}">{{ photo.date | readableDate}}</time>
    </a>
  {% endfor %}
  </div>
</section>
