<section class="dribbble-preview">
  <div class="grid grid--basic">
    <aside class="grid__trailing-element">
      <h3 class="title-3">Dribbble</h3>
    </aside>
    <div class="grid__content-element--full">
      <div class="dribbble-preview__list">
        <a href="">
          <figure class="dribbble-preview__figure">
            <img src="https://cdn.dribbble.com/users/89927/screenshots/6037889/portfolio_-_work.png" alt="">
          </figure>
        </a>
        <a href="">
          <figure class="dribbble-preview__figure">
            <img src="https://cdn.dribbble.com/users/89927/screenshots/6037865/portfolio_-_about.png" alt="">
          </figure>
        </a>
        <a href="">
          <figure class="dribbble-preview__figure">
            <img src="https://cdn.dribbble.com/users/89927/screenshots/5928585/homepage_a_b_test_4x.png" alt="">
          </figure>
        </a>
        <a href="">
          <figure class="dribbble-preview__figure">
            <img src="https://cdn.dribbble.com/users/89927/screenshots/5936782/acto_-_create.png" alt="">
          </figure>
        </a>
        <a href="">
          <figure class="dribbble-preview__figure">
            <img src="https://cdn.dribbble.com/users/89927/screenshots/5928542/ust-va-table-step-3_4x.png" alt="">
          </figure>
        </a>
        <a href="">
          <figure class="dribbble-preview__figure">
            <img src="https://cdn.dribbble.com/users/89927/screenshots/5928522/ust-va-table-step-2_4x.png" alt="">
          </figure>
        </a>
      </div>
    </div>
  </div>
</section>
