<section class="dribbble-preview">
  <div class="grid grid--basic">
    <aside class="grid__trailing-element">
      <h3 class="title-3">Dribbble</h3>
    </aside>
    <div class="grid__content-element--full">
      <div class="dribbble-preview__list">
        {% for post in dribbble %}
        <a href="{{ post.html_url }}">
          <figure class="dribbble-preview__figure">
            <img src="{{ post.images.hidpi }}" loading="lazy" alt="An embed embed post from my Dribbble account with the name {{ post.title }}">
            <figcaption>{{ post.title }}</figcaption>
          </figure>
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
